.buyContainer{
    margin: 20px 42% 0 44%;
}

.submitButton{
    margin-left: 15px;
    padding: 9px 15px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline solid black 1px;
    text-underline-position: under;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.submitButton:hover{
    background-color: rgb(255, 123, 0);
    border: 1px solid rgba(255, 133, 19,0.5);
    transition: width 0.7s ease, background-color 0.5s ease;
    text-decoration: underline solid rgb(255, 255, 255) 2px;
    color: rgb(255, 255, 255);
}

.description{
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
