.buyContainer{
    position: absolute;
    top: 750px;
    right: 22%;
    left: 22%;
    justify-content: center;
}

.submitButton{
    margin-left: 15px;
    padding: 9px 15px;
    font-size: 17px;
    text-decoration: underline solid black 1px;
    text-underline-position: under;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.submitButton:hover{
    background-color: rgb(255, 133, 19);
}

.numberInput {
    border-radius: 3px;
    width: 40px;
}