.buyContainer{
    margin: 20px 42% 0 42%;
}

.submitButton{
    margin-left: 15px;
    padding: 9px 15px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline solid black 1px;
    text-underline-position: under;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.submitButton:hover{
    background-color: rgb(255, 133, 19);
    transition: width 0.7s ease, background-color 0.5s ease;
    text-decoration: underline solid black 2px;
}
